*.vo
*.vio
*.vos
*.vok
*.glob
*.aux
.coqdeps.d
.#*
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
extracted
ocaml/_build
bin

.DS_Store
*.cache
*.d
*.cache
*.v#
*.v~
.Makefile.coq.d
documentation/html

.lia.cache
.nra.cache
