---
name: Tests

on: [push, pull_request]


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest  # container actions require GNU/Linux
    strategy:
      matrix:
        coq_version:
          - '8.12.1'
        ocaml_version:
          - '4.07-flambda'
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: coq-community/docker-coq-action@v1
        with:
          before_script: |
            bash fetch_Lint_p.sh
          opam_file: 'Formal_ML.opam'
          coq_version: ${{ matrix.coq_version }}
          ocaml_version: ${{ matrix.ocaml_version }}
          export: 'OPAMWITHTEST OPAMWITHDOC'
          after_script: |
            sudo cp -a $(opam config var Formal_ML:build)/documentation .
        env:
          OPAMWITHDOC: 'true'
          OPAMWITHTEST: 'true'
      - if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        name: deploy documentation
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          REPOSITORY_NAME: FormalML/FormalML.github.io # the target repository
          TARGET_FOLDER: main/documentation # target directory
          BRANCH: main # The branch the action should deploy to.
          FOLDER: documentation # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch